.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-uphsl-blue {
    background-color: #0E0A64;
}
.bg-uphsl-yellow {
    background-color: #F1F93C;
}
.bg-uphsl-maroon {
    background-color: #760101;
}
.text-uphsl-blue {
    color: #0E0A64;
}
.text-uphsl-yellow {
    color: #F1F93C;
}
.text-uphsl-maroon {
    color: #760101;
}
.hidden {
    display: none;
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the text */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.image-preview {
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 10px;
}
.image-preview img, .video-preview video { 
    width: 80px; height: 80px; 
}