html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.main-content {
    flex-grow: 1; 
}


.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.bg-uphsl-blue {
    background-color: #1C4DA1;
}
.bg-uphsl-yellow {
    background-color: #FFC63E;
}
.bg-uphsl-maroon {
    background-color: #E0B03C;
}
.text-uphsl-blue {
    color: #1C4DA1;
}
.text-uphsl-yellow {
    color: #FFC63E;
}
.text-uphsl-maroon {
    color: #E0B03C;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.image-preview {
    width: 100%;
    height: auto;
    max-height: 200px;
    margin-top: 10px;
}
.image-preview img, .video-preview video { 
    width: 80px; height: 80px; 
}


